<%-include("../../partials/header")%>


<div class="price">
    <div class="container">

        <div class="tab-content" id="myTabContent2">
            <div class="tab-pane fade active show" id="monthly1" role="tabpanel" aria-labelledby="monthly-tab">
                <div class="row mb--30 justify-content-center">

                    <%plans.map(pl =>{%>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-price mb-30">
                            <div class="part-top">
                                <h3><%=pl.plan_name%></h3>
                                <h4><%=pl.plan_price%> <%=websiteDetails.website_currency%><br><span> Max Earn - <%=pl.plan_recurring_max%> <%=websiteDetails.website_currency%></span></h4>
                            </div>
                            <div class="part-bottom">
                                <ul>
                                    
                                    <li>
                                        <span style="font-weight:normal !important" class="state"> Recurring Fee: <strong><%=pl.plan_recurring_fee%>
                                            <%=websiteDetails.website_currency%> </strong> Daily</span>
                                    </li>
                                    <li>
                                        <span style="font-weight:normal !important" class="state"> Recurring Start: <strong><%=websiteDetails.website_recurring_start%> Days After Registration </strong> </span>
                                    </li>
                                    <li>
                                        <%=pl.plan_desc%>
                                    </li>
                                    
                    
                                </ul>
                    
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-<%=pl.plan_id%>" class="boxed-btn btn-rounded purchase_now" >
                                    <%=(user && user.plan_id === pl.plan_id) ? "My Current Plan" : "Purchase now"%>
                                </a>
                            </div>
                        </div>
                    </div>
                    <%-include("./modal/confirm",{pl})%>
                    
                    <%})%>
                    
                </div>
            </div>





        </div>
    </div>
</div>
<%if(user){%>
<script src="/js/user/plan/purchase.js"></script>
<%}%>


<script src="/js/partials/fetcher.js"></script>
<script src="/js/partials/sweetalert.js"></script>
<%-include("../../partials/footer")%>